 


html{
    background-color: rosybrown;
     
}
body{
    background-color: bisque;
    text-align:justify;
     
   
}
h1{color:brown;}
h2{color:brown;}
p{color:darkgreen}
li{color:darkgreen}
nav>ul{line-height:1.5em;
list_style_type:none;
padding-right:8px;}

h1, h2,h3{
 width:50%;
font-family:cursive;
}

footer {background color:green;}

#leftcolumn{
     height:50%;
     width:50%;
    padding:20px;
    margin:50px;
    border:10px;
}
#rightcolumn{
    float:right;
     height:50%;
     width:30%;
    padding:10px;
    margin:15px;
    border:10px;
    background-color:blueviolet;
}
lastupdated 07/01/2022